.card-hover-group {
  position: relative;
  overflow: hidden;
}

.hover-buttons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  background-color: #9d4be0 !important;
  color: white !important;
}

.hover-cart-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
    background-color: #9d4be0 !important;

}

.card-hover-group:hover .hover-buttons,
.card-hover-group:hover .hover-cart-btn {
  opacity: 1;
}


.card-hover-group {
  height: 100%; /* Let Bootstrap grid handle height */
  display: flex;
  flex-direction: column;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-hover-group:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

